
html
    head
        link(rel="stylesheet", href="/static/amr.css")
    body
        h1 All Mangas Reader Mirrors TestSuite
        h2 Select a website to test
        ul
            each ws in wss
                li 
                    img(src=ws.mirrorIcon)
                    a(href='/' + ws.mirrorName) #{ws.mirrorName}