html
    head
        link(rel="stylesheet", href="/static/amr.css")
    body
        h1 All Mangas Reader Mirrors TestSuite
        h2 Test suite for 
            img(src=ws.mirrorIcon) 
            span #{ws.mirrorName}
        #result
            h3 Running tests...
        input#name(type="hidden", value=ws.mirrorName)
        h2#valuestests Run test suite with values
        form#actions(action="/" + ws.mirrorName)
            #desc Enter values below to run test suite for a specific manga or chapter or to change the search phrase
            input(name="search_phrase", type="text", placeholder="Search phrase", value=search_phrase)
            input(name="manga_url", type="text", placeholder="Manga url", value=manga_url)
            input(name="chapter_url", type="text", placeholder="Chapter url", value=chapter_url)
            input(type="submit", value="Reload with values")
        script(src="/static/website.js")