ul li {
    list-style-type: none;
    display: inline-block;
    padding: 4px 10px;
}
ul li img {
    vertical-align:middle;
    padding-right: 2px;
}
h1, h2, h3 {
    text-align: center;
}
h2.success {
    color: #2f9d66
}
h2.error {
    color: #cc0953
}

.result {
    background-color: #61ffb0;
    max-width: 750px;
    margin: 4px auto;
    padding: 10px;
}
.result.failed {
    background-color:#ffacac;
}

p {
    margin: 3px 0px;
}
p img {
    vertical-align: middle;
}
p a {
    font-style: italic;
}
h2 img {
    padding-right: 5px;
}
.exec-time {
    text-align: center;
    font-size: 10pt;
}
#valuestests {
    margin-top: 100px;
}
#actions {
    max-width: 750px;
    margin: 4px auto;
    padding: 10px;
}
#actions input {
    display: block;
    width: 100%;
    margin: 5px 0px;
    padding: 4px;
}
#actions input[type="submit"] {
    width: 200px;
    margin-left: auto;
}